@using Views_Web.Models
@{
    string greetings = "Hello world";
    List<Person> people = new List<Person>()
        {
            new Person(){
                name = "Peace",
                DOB = Convert.ToDateTime("1992-06-18")
            },
            new Person(){
                name = "Giang",
                DOB = Convert.ToDateTime("1998-03-10")
            }
        };
    Person person = new Person() {
        name = "Peace",
        DOB = Convert.ToDateTime("1992-06-18")
    };
}
@* if @ { method } => local function *@
@* if @functions { method } => methods in view *@
@{
    double? GetAge(DateTime? DOB){
        if(DOB is not null){
            return Math.Round((DateTime.Now - DOB.Value).TotalDays / 365.25);
        }
        return null;
    }

    //int x = 10;//Fields

    string alertMessage = $"<script>alert('{people.Count} people');</script>";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@greetings</title>
        <meta charset="uft-8" />
    </head>
    <body>
        @Html.Raw(alertMessage)
        @{
            @:Hello
        }
        <h1>@person.name</h1>
        @{
            double? age = GetAge(person.DOB);
        }
        <h3>@age years old</h3>
    </body>
</html>